<h1>Help</h1> 
<p>
This application is designed to created and share recipes, and to look at recipes other people have entered. If you need help filling out a form, then I'm sort of scared of your basic living skills and I kind of don't want to see you cook. Thanks, though!
</p>