<footer> 
  <nav class="round">
    <ul> 
      <li><%= link_to "About", about_path %></li> 
      <li><%= link_to "Contact", contact_path %></li> 
      <li><%= link_to "Abakas", "http://www.abakas.com", :popup => true %></li>
    </ul> 
  </nav>
</footer>